[submodule "third_party/mpl"]
	path = third_party/mpl
	url = https://github.com/kvasir-io/mpl.git
[submodule "third_party/metabench"]
	path = third_party/metabench
	url = https://github.com/ldionne/metabench.git
